body{
    background-color: darkkhaki;
    background-image: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

a a:link,a:hover{
    color: aqua;
}
a:active{
    color: aquamarine;
}

h1,h2,h3 {
    color: black;
}

p{
text-align: center;
}

p #basics{
font-size: 70px;
}
p #introduction{
font-size: medium;
}
p #links{
font-size: medium;
color:rgb(85, 232, 27);
}
p #disclaimer{
font-size: 12px;
}